<div class="row chat-content">
    <div class="col-xs-12 col-sm-6 chat-window">
        <div class="chat-box">
            <div class="chat-box-head">
                Chat Title
            </div>
            <div class="chat-box-content">
                <div class="chat-msg-left">
                    Hello, How are You?
                </div>
                <br>
                <div class="chat-msg chat-msg-right">
                    Hey, i'm good!
                </div>
                <br>
                <div class="chat-msg chat-msg-left">
                    Hello, How are You?
                </div>
                <br>
                <div class="chat-msg chat-msg-right">
                    Hey, i'm good!
                </div>
            </div>
            <div class="chat-box-foot">
                <div class="chat-box-foot-wrap">
                    <div class="row">
                        <input type="text" class="col-xs-10 input-sm" placeholder="Message">
                        <button class="btn btn-primary btn-sm right">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 chat-window">

    </div>
</div>